.App{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100vh;
    background-color: rgb(39, 34, 34);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body{
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 20%;
}

.inner-sidebar{
    height: 220px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center{
  color: aliceblue;
  font-size: 15px;
}

.center:hover{
    background-color: black;
    border-radius: 5px;
}